body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #820263;
    background-color: #EADEDA;
}

h1 {
    font-size: 30px;
    color: #2E294E;
}
/* index.html */
.recipes {
    list-style: none;
}
/* taco.html */

/* boudin.html */

/* pasta.html */